<!DOCTYPE html>

<html>
	<head>
		<title>{{title}}</title>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset=utf-8 />
		<!-- Bootstrap -->


        <link href="../assets/minified/styles.css" rel="stylesheet" media="screen">
		<link href="../assets/fontaws/css/font-awesome.css" rel="stylesheet" media="screen">

		<link href="../themes/{{theme.name}}/css/main.css" rel="stylesheet" media="screen">

	</head>

	<body>

		{{>header}}		
		
			{{{body}}}		
		
		{{>footer}}	



        <script src="../assets/minified/scripts.js"></script>
       
		
		{{#if googleMaps}}
			 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
			 <script src="../assets/maps/jquery-maps.js"></script>
		{{/if}}	
		
		
					

		<script src="../client/js/common.js"></script>					
		{{#if jsFile}}
			<script src="../client/js/{{jsFile}}"></script>	
		{{/if}}			
		
		

	</body>

</html>

