<div class="raw-fluid">
	<ul class="nav nav-pills">
		<li class="{{#showActive displayPage ../data.configOption}}{{/showActive}}">
			<a href="emm/users/tokens"><i class='icon-money'></i> Tokens</a>
		</li>
		<li class="{{#showActive displayPage ../data.configOption}}{{/showActive}}">
			<a href="emm/users/iotdevice"><i class='icon-rocket'></i> Devices</a>
		</li>
	</ul>
</div>